/*
@font-face{
    font-family: "Happy Lucky";
    src: url("/monolith/templates/fonts/happy_lucky.ttf");
}
*/
:root{
    --primary: rgba(3,109,248,1);
    --primary-faded: rgba(3,109,248,0.3);
    --primary-extra-faded: rgba(3,109,248,0.1);
    --secondary: rgba(188,228,248,1);
}
body {
    background-color: var(--secondary);
}

.recipient-field {
    display: flex;
    flex-flow: row nowrap;
}

.recipient-delete {
    padding-left: 10px;
    text-decoration: none;
}


