<!doctype html>
<html>
    <head>
        <style type="text/css">
            @font-face {
              font-family: "Happy Lucky";
              src: url("{{ url_for('static', filename='fonts/happy_lucky.ttf') }}");
            }
            {% include "css/style.css" %}
        </style>
        <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"> -->
    </head>
    <body>
        <div class="title">
            <div>my message in a bottle</div>
        </div>
      {% if current_user.is_authenticated %}
        <div class="main-container">
            <div class="left-container">
                {% set _url = url_for('mailbox.mailbox_list_received') %}
                <div class="redirect" {% if list_type == 'received' %} id="redirect-selected" {% endif %} onclick="location.href='{{ _url }}'">
                    <div>Received</div>
                </div>
                {% set _url = url_for('mailbox.mailbox_list_sent') %}
                <div class="redirect" {% if list_type == 'sent' %} id="redirect-selected" {% endif %} onclick="location.href='{{ _url }}'">
                    <div>Sent</div>
                </div>
                {% set _url = url_for('mailbox.mailbox_list_draft') %}
                <div class="redirect" {% if list_type == 'draft' %} id="redirect-selected" {% endif %} onclick="location.href='{{ _url }}'">
                    <div>Draft</div>
                </div>
            </div>
            <div class="message-container">
              {% for m in message_list: %}
                <div class="message-block">
                    {% set user_url = url_for('users.user_info', id=m.User.id) %}
                    {% set message_url = url_for('read_message.read_messages', id=m.Message.id_message) %}
                    <div class="main">
                        <div class="user" onclick="location.href='{{ user_url }}'">
                            <div> {{ m.User.firstname }} {{ m.User.lastname }} </div>
                        </div>
                        <div class="body" onclick="location.href='{{ message_url }}'"> 
                            <div> {{ m.Message.body_message }} </div>
                        </div>
                    </div>
                    <div class="extra">
                        <div class="datetime">
                            {% set datetime_list = (m.Message.date_of_send|delivery_datetime_format).split(' ') %}
                            <div class="time"> {{ datetime_list[0] }} </div>
                            <div class="date"> {{ datetime_list[1] }} </div>
                        </div>
                        <div class="actions">
                          {% if list_type == 'draft' %}
                            {% set _url = url_for('messages.edit_draft', id=m.Message.id_message) %}
                            <div class="edit" onclick="location.href='{{ _url }}'">
                                <div>edit</div>
                            </div>
                            {% set _url = url_for('messages.send_message', id=m.Message.id_message) %}
                            <div class="send" onclick="location.href='{{ _url }}'">
                                <div>send</div>
                            </div>
                          {% else %}
                            {% set _url = url_for('home.index') %}
                            <div class="forward" onclick="location.href='{{ _url }}'">
                                <div>forward</div>
                            </div>
                          {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <div class="closeup"></div> -->
        </div>
      {% else %}
        <div style="position: absolute; top: 80px;"> Hi Anonymous, please <a href="/login">Log in</a> to edit this message</div>
      {% endif %}
    </body>
</html>
