<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="title">Mailbox</div>
        <div class="main-container">
            <div class="left-container">
                <div class="redirect">
                    <div>Received</div>
                </div>
                <div class="redirect">
                    <div>Sent</div>
                </div>
                <div class="redirect">
                    <div>Draft</div>
                </div>
            </div>
            <div class="message-container">
                <div class="message-block">
                    <div class="main">
                        <div class="user">
                            <div>from: </div>
                        </div>
                        <div class="body">
                            <div>
                                test message
                                test message
                                test message
                                test message
                                test message
                                test message
                                test message
                                test message
                                test message
                                test message
                                test message
                                test message
                                test message
                            </div>
                        </div>
                    </div>
                    <div class="extra">
                        <div class="datetime">
                            <div>when</div>
                        </div>
                        <div class="actions">
                            <div>edit</div>
                            <div>send</div>
                        </div>
                    </div>
                </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
                <div class="message-block">ciao </div>
            </div>
            <!-- <div class="closeup"></div> -->
        </div>
    </body>
</html>
