<!doctype html>
<html>
    <head>
        <style type="text/css">
            @font-face {
              font-family: "Happy Lucky";
              src: url("{{ url_for('static', filename='fonts/happy_lucky.ttf') }}");
            }
        </style>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="title">
            <div>my message in a bottle</div>
        </div>
      {% if current_user.is_authenticated %}
        <div class="main-container">
            <div class="left-container">
                <div class="redirect" {% if list_type == 'received' %} id="redirect-selected" {% endif %}>
                    <div>Received</div>
                </div>
                <div class="redirect" {% if list_type == 'sent' %} id="redirect-selected" {% endif %}>
                    <div>Sent</div>
                </div>
                <div class="redirect" {% if list_type == 'draft' %} id="redirect-selected" {% endif %}>
                    <div>Draft</div>
                </div>
            </div>
            <div class="message-container">
              {% for m in message_list: %}
                <div class="message-block">
                    <div class="main">
                        <div class="user">
                            <div> {{ m.User.firstname }} {{ m.User.lastname }} </div>
                        </div>
                        <div class="body">
                            <div> {{ m.Message.body_message }} </div>
                        </div>
                    </div>
                    <div class="extra">
                        <div class="datetime">
                            {% set datetime_list = (m.Message.date_of_send|delivery_datetime_format).split(' ') %}
                            <div class="time"> {{ datetime_list[0] }} </div>
                            <div class="date"> {{ datetime_list[1] }} </div>
                        </div>
                        <div class="actions">
                            <div>edit</div>
                            <div>send</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <div class="closeup"></div> -->
        </div>
      {% else %}
        <div> Hi Anonymous, please <a href="/login">Log in</a> to edit this message</div>
      {% endif %}
    </body>
</html>
