<head>
    <style>
        .pop-up_box {
            color : black;
            border: 1px outset lightblue;
            background-color: lightblue; 
            text-align: center;
            font-size: 20pt;
            display: inline-block;
            min-width: 20cm;
            min-height: 20pt;
        }
        .button>div{
            margin-right: 2pt;
        }
    </style>
</head>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <div class="pop-up_box" id=pop-up>
          <div class="button">          
            <div>
              {{message}}
              <button class="close" onclick="document.getElementById('pop-up').style.display='none';">Close</button>
            </div>
          </div>
      </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
