<h1>My Message in a Bottle -- Primer</h1>

{% if current_user.is_authenticated %}
  {% if user_allowed %}
    Hey {{ current_user.firstname }}, this is the message you selected !
    <h3>Message Text:</h3>
    {{ mess_text }}

    <h3>Sender: </h3>  {{ sender }}

    <h3>Date of receipt: </h3>  {{ date_receipt }}

    <h3>Return to the <a href="/">Home Page</a></h3>
  {% else %}
    Hey {{current_user.firstname}}, you are not allowed to read this message.<br>
    Please <a href="/logout">Logout</a> and log back in with the right account.
  {% endif %}

{% else %}
   Hey Anonymous, please <a href="/login">Log in</a> to read this message
{% endif %}
