<html>
  <body>
    <h1>User info</h1>
    <ul>
        <li>
            {{user.firstname}} {{user.lastname}}
        </li>
        <li>
            {{user.email}}
        </li>
        <li>{{user.dateofbirth|datetime_format}}</li>
        <li>{{user.nickname}}</li>
        <li>{{user.location}}</li>
    </ul>
    <p><a href="{{url_for('auth.logout')}}">Logout</a></p>
    <p><a href="{{url_for('users.delete_user',id=user.id)}}">Delete your account</a></p>
    {% set cf_action = 'Enable' if user.content_filter == False else 'Disable' %}
    <p><a href="{{url_for('users.set_content_filter')}}">{{ cf_action }} content filter</a></p>
    <p><a href="{{url_for('users.blacklist')}}">See your blacklist</a></p>
  </body>
</html>
